.article_card {
  background-color: #80b9f7;
  border: 5px plum solid;
  border-radius: 20px;
  height: 800%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  image-rendering: auto;
}
