.article_card {
  background-color: #80b9f7;
  border: 5px plum solid;
  border-radius: 20px;
  height: 30%;
  width: 40%;
  margin-left: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
