.navBar {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 75px;
  background-color: #213a5c;
  border-radius: 4px;
}

.logo {
  color: #213a5c solid;
  font-size: 3rem;
  font-family: "Inconsolata", monospace;
}

.navList {
  display: flex;
  gap: 8px;
  list-style-type: none;
}

.navLink {
  color: #4285f4 solid;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
}

.navLink:hover {
  color: whitesmoke;
  background-color: #4285f4;
  border: 1px whitesmoke solid;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
}

.active {
  color: #ea4335;
  text-decoration: none;
  border: 1px #a2bce5 solid;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
}
